.CreateGameTextField {
  width: 70%;
  padding-bottom: 30px;
}

.CreateGameButton {
  color: white;
  width: 70%;
  border-radius: 40px;
}

.CreateGameCard {
  background: transparent;
  border: none !important;
}

.CreateGameCardHeader {
  text-align: center;
}

.CreateGameCardContent {
  text-align: center;
}

.CreateGameCardAction {
  justify-content: center;
}
