.LightTheme{
    --color-primary : #75A1DE;
    --color-secondary:#d7d7d7;
    --color-background: white;
    --color-background-secondary: #e7edf3;
    --color-warning:orangered;
    --color-border:grey;
}