.timerPopoverContainer {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-secondary);
  padding: 10px;
}

.timerInput {
  width: 5rem;
  input {
    text-align: center;
  }
}

.seconds-label {
  font-size: small;
}
