.GameController {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: sticky;
  left: 0;
}

.GameControllerCard {
  border-radius: 5px;
  background-color: var(--color-background-secondary);
}

.GameControllerCardContentArea {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  padding: 30px;
}

.GameControllerDivider {
  margin: 0 10px 0 10px;
}

.GameControllerCardTitle {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 0 20px;
  border-bottom: 1px solid var(--color-primary);
  font-weight: bold;
}

.GameControllerButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.GameControllerButton {
  display: flex;
  border-radius: 50%;
  background-color: var(--color-background);
}
.GameControllerButton:hover {
  box-shadow: rgb(171 207 248) 0 0 0 6px;
}

.GameControllerCardHeaderAverageContainer {
  display: flex;
  flex-direction: row;
  margin: 3px;
  padding-left: 30px;
}

.GameControllerCardTitle .MuiCardHeader-action {
  margin-left: 8px;
}
.GameControllerCardHeaderAverageValue {
  margin-left: 5px;
  padding: 0 5px 0 5px;
  color: var(--block-text-color);
  font-weight: bold;
}

.MuiCardHeader-action {
  margin: 0;
  padding-right: 5px;
}

*:has(> .InProgress) {
  background-color: rgba(255, 165, 0, 0.7);
}

*:has(> .Finished) {
  background-color: rgba(83, 175, 76, 0.5);
}

