.FooterContainer {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.FooterItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
