.HomePage {
  display: flex;
  flex-direction: column;
}

.HomePageMainContent {
  margin-top: 20px;
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.HomePageLeft {
  display: flex;
  background-image: url(./../../background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 40%;
}

.HomePageRight {
  margin-top: 20px;
  display: flex;
  align-items: top;
}

.HomePageInfoSection {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
